<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>model.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtocartServlet</servlet-name>
        <servlet-class>model.AddtocartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginServlet</servlet-name>
        <servlet-class>model.adminloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>model.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>model.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeitemfromcartServlet</servlet-name>
        <servlet-class>model.removeitemfromcartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vieworderServlet</servlet-name>
        <servlet-class>model.vieworderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminaddofferServlet</servlet-name>
        <servlet-class>adminaddofferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminaddproductServlet</servlet-name>
        <servlet-class>adminaddproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeleteServlet</servlet-name>
        <servlet-class>admindeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeleteofferServlet</servlet-name>
        <servlet-class>admindeleteofferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateServlet</servlet-name>
        <servlet-class>adminupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateofferServlet</servlet-name>
        <servlet-class>adminupdateofferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyotpServlet</servlet-name>
        <servlet-class>model.verifyotpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>model.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkotpServlet</servlet-name>
        <servlet-class>checkotpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>model.NewServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtocartServlet</servlet-name>
        <url-pattern>/AddtocartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginServlet</servlet-name>
        <url-pattern>/adminloginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeitemfromcartServlet</servlet-name>
        <url-pattern>/removeitemfromcartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vieworderServlet</servlet-name>
        <url-pattern>/vieworderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminaddofferServlet</servlet-name>
        <url-pattern>/adminaddofferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminaddproductServlet</servlet-name>
        <url-pattern>/adminaddproductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeleteServlet</servlet-name>
        <url-pattern>/admindeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeleteofferServlet</servlet-name>
        <url-pattern>/admindeleteofferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateServlet</servlet-name>
        <url-pattern>/adminupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateofferServlet</servlet-name>
        <url-pattern>/adminupdateofferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyotpServlet</servlet-name>
        <url-pattern>/verifyotpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkotpServlet</servlet-name>
        <url-pattern>/checkotpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
